// Colors

$white: #FFFFFF;
$smoke: #F2F2F2;
$whitesmoke: #F7F7F7;
$purple:  rgba(236, 133, 35, 1);
$darkpurple: rgba(236, 133, 35, 1);
$darkblue: #14293A;
$gray:  #6A6A6A;
$darkgray: #4C4C4C;
$border: #DDDDDD;
$placeholder: #8A8A8A;
$black:#393939;
$navyblue:rgba(39, 64, 94, 1);